# These settings might have default values. See `./settings.py`.
IS_PROD=
DB_ENCRYPTION_SECRET=
SECRET_KEY=
ADMIN_PASSWORD=
SQLALCHEMY_DATABASE_URL_STAGING=
PHONE_NUMBER_ID=
WHATSAPP_API_ACCESS_TOKEN=
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=
CLERK_SECRET_KEY=
SUPERADMIN_CLERK_ID=
ERRANT_USER_CONSECUTIVE_NON_CHECKIN_CRITERION=
FRONTEND_BASE_URL=