APScheduler==3.11.0
black==25.1.0
cffi==1.17.1
click==8.2.1
cryptography==45.0.6
mypy_extensions==1.1.0
packaging==25.0
pathspec==0.12.1
platformdirs==4.4.0
psycopg2==2.9.10
pycparser==2.22
python-dotenv==1.1.1
SQLAlchemy==2.0.43
SQLAlchemy-Utils==0.41.2
typing_extensions==4.15.0
tzlocal==5.3.1
